page-order-menu {

  div.placeholder {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    ion-icon {
      font-size: 24rem;
    }

    p {
      font-size: 2rem;
    }

    ion-icon, p {
      align-self: center;
      color: color($colors, dim);
    }
  }

  .menu-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;

    button {
      width: calc(33.333% - 8px);
      margin: 4px;
      box-sizing: border-box;
      text-align: center;
      background-color: color($colors, light);
      color: color($colors, dim);
      box-shadow: none;

      &.active {
        background-color: color($colors, primary);
        color: color($colors, light);
      }
    }
  }

  ion-list {
    ion-badge {
      background-color: transparent !important;
    }
  }

}
