page-order-group {

  ion-content {
    background-color: rgba(color($colors, dark), 0.9) !important;

    ion-fab {
      button {
        background-color: transparent !important;
        box-shadow: none !important;
        color: color($colors, primary) !important;
      }
    }
  }

  div.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    form {
      margin: auto;

      p {
        color: color($colors, light);
        font-size: 2rem;
        margin: 0;
      }

      ion-item {
        background-color: transparent !important;
        margin-bottom: 2rem;
        color: color($colors, light);
        border-bottom: 1px solid color($colors, dim);
        font-size: 2rem;

        input {
          text-align: center;
        }

        div.item-inner {
          border: none !important;
        }
      }

      a {
        margin-top: 2rem;
        display: block;
        padding-bottom: 2px;
        color: color($colors, primary);
        border-bottom: 1px solid color($colors, primary);
      }

      text-align: center;
    }
  }
}
